<div *ngIf="isValid()" class="displayHowTo {{ extraClass }}">
  <button (click)="onClose()" class="closeButton">X</button>
  <div class="displayText">
    <!-- Display Topic Title -->
    <h1>{{ topic.title }}</h1>
    <!-- Display Topic Description -->
    <p class="descriptions">{{ topic.description }}</p>
    <!-- Display the main -->
    <p [innerHtml]="topic.text" class="mainDisplay"></p>
  </div>
  <!-- Check for what type of content it should display -->
  <div *ngFor="let content of getContent()">
    <div [ngSwitch]="getType(content)">
      <!-- Display Simple Text -->
      <p
        *ngSwitchCase="'SimpleText'"
        [innerText]="content.text"
        class="displayText"
      ></p>
      <!-- Display the Imgs -->
      <div *ngSwitchCase="'Img'" class="imgs">
        <img class="imgObj" src="{{ getContentText(content) }}" />
      </div>
      <!-- Display the codes examples in the topic -->
      <pre
        *ngSwitchCase="'Code'"
        class="prettyprint linenums:4 codeContainer"
        [innerText]="getContentText(content)"
      ></pre>
      <!-- Display Error for when there there is no match -->
      <p *ngSwitchDefault>
        Error No Type found! looking for index {{ getType(content) }}
      </p>
    </div>
  </div>
</div>
