.displayHowTo {
  background-color: var(--displaybg);
  border-radius: 15px;
  /* font-size: 1.2em; */
  width: 97%;
  z-index: 1;
  margin-top: -3px;
  padding-left: 2%;
  padding: 20px;
}
.mostTop {
  position: absolute;
}
.displayHowTo p {
  max-width: 80%;
}
.displayText {
  text-align: left;
}
.displayText h1 {
  text-align: center;
}
.descriptions {
  text-align: center;
  /* font-size: 15px; */
}
.codeContainer {
  width: 90%;
}
.closeButton {
  border-radius: 50%;
  color: #d8d8d8;
  background-color: rgb(170, 25, 25);
  border: 3px solid #d8d8d8;
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-right: 5px;
  float: right;
}
.displayText {
  text-align: left;
  font-family: sans-serif;
}
.mainDisplay {
  white-space: pre-line;
}
