<div class="howTo">
  <h1 class="topicTitle">Simple Topic Creator!</h1>
  <!-- Display input for the topic -->
  <app-text-field #titleField title="{{ topicName }}"> </app-text-field>
  <!-- Display input for the description -->
  <app-text-field #descriptionField title="{{ topicDescription }}">
    <!-- Display input for the Intro / Main Topic -->
  </app-text-field>
  <div>
    <button (click)="setToCode()">Code</button>
    <button (click)="setToImg()">Img</button>
    <button (click)="setToTag('b')">Bold</button>
    <button (click)="setToTag('center')">Center</button>
  </div>
  <app-input-multiline
    #mainTopic
    title="{{ introText }}"
    height="600px"
  ></app-input-multiline>
  <button
    *ngIf="testingAtm"
    (click)="testingData()"
    class="preview confirmButton"
  >
    Test Data
  </button>
  <button (click)="doPreview()" class="preview confirmButton">Preview</button>
  <app-how-to-display #preview extraClass=""></app-how-to-display>
  <p class="errorText">{{ errorText }}</p>
  <button (click)="checkText()" class="confirmButton">Create Json File</button>
</div>
