<div class="howTo">
  <h1 class="topicTitle">Topic Creator with Content Objects!</h1>
  <!-- Display input for the topic -->
  <app-text-field #titleField title="{{ topicName }}"> </app-text-field>
  <!-- Display input for the description -->
  <app-text-field #descriptionField title="{{ topicDescription }}">
    <!-- Display input for the Intro / Main Topic -->
  </app-text-field>
  <app-topic-text-tool [mainTopic]="mainTopic"></app-topic-text-tool>
  <app-input-multiline #mainTopic title="{{ introText }}"></app-input-multiline>
  <div class="createButtons">
    <button (click)="addSimpleText()">Simple Text</button>
    <button (click)="addCode()">Code</button>
    <button (click)="addImg()">Img</button>
  </div>
  <div *ngFor="let content of getContent()" class="content-parent">
    <div class="content-options">
      <p>{{ getType(content) }}</p>
      <button (click)="removeContent(content)" class="deleteBut">
        X
      </button>
      <button
        (click)="moveUp(content)"
        *ngIf="showUp(content)"
        class="rotatePos optionsBut"
      >
        v
      </button>
      <button
        (click)="moveDown(content)"
        *ngIf="showDown(content)"
        class="optionsBut"
      >
        v
      </button>
    </div>
    <div [ngSwitch]="getType(content)">
      <!-- Display Simple Text -->
      <div *ngSwitchCase="'SimpleText'" class="textToAdd inputField">
        <input
          type="text"
          name="content.text"
          [(ngModel)]="content.text"
          class="inpuTextObj content-obj"
        />
      </div>

      <!-- Display the Imgs -->
      <div *ngSwitchCase="'Img'" class="imgs textToAdd inputField">
        <input
          type="text"
          name="content.text"
          [(ngModel)]="content.text"
          class="inpuTextObj content-obj"
          placeholder="Add img Link..."
        />
        <img src="{{ getContentText(content) }}" class="imgObj" />
      </div>
      <!-- Display the codes examples in the topic -->
      <div *ngSwitchCase="'Code'" class="textToAdd inputField">
        <textarea
          class="inputArea content-obj"
          name="content.text"
          [(ngModel)]="content.text"
        ></textarea>
      </div>
      <!-- Display Error for when there there is no match -->
      <p *ngSwitchDefault>
        Error No Type found! looking for index {{ getType(content) }}
      </p>
    </div>
  </div>
  <p class="errorText">{{ errorText }}</p>
  <button (click)="checkText()" class="confirmButton">Create Json File</button>
</div>
