.howTo {
  width: auto;
  display: block;
  margin-bottom: 5px;
  margin-right: 5px;
}
.howToButton {
  position: relative;
  width: 100%;
  display: block;
  border-radius: 5px;
  background-color: var(--topicbg);
  color: var(--topicText);
  text-align: left;
}
