body {
  background-color: rgb(60, 130, 196);
}
.twoitemsinglelineone {
  width: 100%;
  margin-right: 5px;
}
.twoitemsingleline {
  display: flex;
  text-align: center;
  background: rgb(77, 77, 77);
  padding: 5px;
  border-bottom: 1px #ccc dotted;
  width: 99%;
  height: 100%;
  text-align: center;
  border-bottom: 1px solid #5fa8d3;
  border: none;
}
.deleteBut {
  background: #ff0000;
  color: #fff;
  border: none;
  padding: 3px 7px;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}
.imgs {
  text-align: left;
}
.imgObj {
  max-width: 90%;
  max-height: 300px;
  background-color: black;
  border-radius: 15px;
  border: 1px rgba(202, 202, 202, 0.589) solid;
}
.center {
  text-align: center;
}
